# Specify the Java version
-target 1.8

# Disable shrinking (unused classes/members are not deleted)
-dontshrink

# Disable optimization
-dontoptimize

# Use unique class member names
-useuniqueclassmembernames

# Adapt class strings
-adaptclassstrings

# Disable notes and warnings
-dontnote
-ignorewarnings

# Keep public classes extending SpringBootServletInitializer
-keep public class * extends org.springframework.boot.web.support.SpringBootServletInitializer

# Keep directories
-keepdirectories

# Maintain main methods
-keepclasseswithmembers public class * {
    public static void main(java.lang.String[]);
}

# Reserve enumeration members and methods
-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

# Keep names of classes implementing Serializable
-keepnames class * implements java.io.Serializable

# Keep specific class members and methods for serialization
-keepclassmembernames public class fido.uz.emsbackend.entity.Employee {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    !static !transient <fields>;
    !private <fields>;
    !private <methods>;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

# Keep annotations and their members
-keepclassmembers class * {
    @org.springframework.beans.factory.annotation.Autowired <fields>;
    @org.springframework.beans.factory.annotation.Autowired <methods>;
    @org.springframework.security.access.prepost.PreAuthorize <methods>;
}

# Keep classes, fields, and methods for Spring Boot configuration
-keep @org.springframework.cache.annotation.EnableCaching class *
-keep @org.springframework.context.annotation.Configuration class *
-keep @org.springframework.boot.context.properties.ConfigurationProperties class *
-keep @org.springframework.boot.autoconfigure.SpringBootApplication class *

# Allow access modification
-allowaccessmodification

# Keep annotation attributes
-keepattributes *Annotation*

# Keep specific directories
-keepdirectories fido.uz.emsbackend.controller
-keepdirectories fido.uz.emsbackend.dto
-keepdirectories fido.uz.emsbackend.entity
-keepdirectories fido.uz.emsbackend.exception
-keepdirectories fido.uz.emsbackend.mapper
-keepdirectories fido.uz.emsbackend.repository
-keepdirectories fido.uz.emsbackend.service
